<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.up2dateJEC">

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/pathshalarounded"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pathshalarounded"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.up2dateJEC.StudentNotify"></activity>
        <activity android:name="com.up2dateJEC.ScrapJec" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <service
            android:name="com.up2dateJEC.Notification.FirebaseService"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <activity android:name="com.up2dateJEC.SubCategoryDetails" />
        <activity android:name="com.up2dateJEC.Category_Detail" />
        <activity
            android:name="com.up2dateJEC.Fragment.HomeFragment"
            tools:ignore="Instantiatable" />
        <activity android:name="com.up2dateJEC.Account_Setting" />
        <activity android:name=".ForgetPass" />
        <activity android:name=".MainActivity" />
        <activity android:name=".EmailAuth" />
        <activity android:name=".Otpregester" />
        <activity android:name=".Otpverification" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login_Activity" />
        <activity android:name=".RegesterActivity" />
    </application>

</manifest>